
html, body{
	width: 100%;
	height: 100%;

}
.navbar{
	
}
.carousel-inner img{
	width: 100%;
}

.profile{
	align-items: center;
}

.profile p{
	font-size: 1em;
	color: #7c7c7d;
	margin: 0;
	padding-right: 15px: 
}

.profile .name{
	font-weight: bold;
	color: black;
	margin:0;
}
.infor{
	padding-left: 1em;
}
.avarta{
	display: none;
	width: 50px;
	height: 50px;
	background-image: url('https://loremflickr.com/1920/1080');
	background-position: center;
	background-size: cover;
}

/**/
.slide{
	position: relative;
}
.slide .slide-chil{
	height: 20%;
	width: 40%;
	background-color: red;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	transition: all 0.5s;
	transform: scale(0);
	
	
}

.slide:hover .slide-chil{
	
	transform: scale(1);
	background-color: red;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	
}


.component-3-bg{
	background-image: url('https://loremflickr.com/500/500');
	width: 100%;
	background-position: center;
	background-size: cover;
}

/**/
.card{
	position: relative;
}
.card .overlay{
	height: 100%;
	background-color: rgba(0, 0, 0,0.6);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	opacity: 0;
	transition: all 0.3s;
}
.card:hover .overlay{
	opacity: 1;
}

.card:hover .fa-play-circle{
	font-size: 3em;
}
.fa-play-circle{
	font-size: 0em;
	color: white;
	transition: all 0.3s;
	
	
}

/**/


/* cac bai hat xep hang*/
.top-song{
	padding: 1em;
	display: flex;
	align-items: center;
	color: black;
}
.top-song .so-tt{
	flex-grow: 1;
}

.top-song .infor{
	display: flex;
	flex-grow: 5;

}
.top-song .infor .spec-infor{
	margin-left: 1em;
}
.top-song .infor .spec-infor p{
	
	padding: 0;
	margin:0;
}
.top-song .phan-tram{
	flex-grow: 1;
}

.top-song:hover{
	background-color: black;
	opacity: 0.2;
}
/**/

/**/
.bang-bieu-do{
	display: flex;
	background-image: url('https://loremflickr.com/1920/1080');
	width: 100%;
	background-size: cover;
	align-items: center;
}

.bang-bieu-do .zing-char{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}
.zing-char-1{
	flex-grow: 1;
}
.zing-char-2{
	margin-left: 1em;
	display: flex;
	color: white;
	align-items: center;
	flex-grow: 4;
}
.zing-char-3{
	flex-grow: 1;
	position: absolute;
	right: 0;
}
/**/